.git
.gitignore
.DS_Store
*.md
backend/venv/
**/venv/
frontend/node_modules/
**/node_modules/
frontend/dist/
**/dist/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
logs/
.idea/
.vscode/
